@import "tailwindcss";
@plugin "daisyui"
{

+  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}


/* custom button override */

.btn-primary{
  @apply bg-gradient-to-r from-[#632ee3] to-[#9f62f2] border-none text-white
}
.btn-primary:hover{
  @apply opacity-90
}